In [1]:
import pandas as pd
import numpy as np
import re
import seaborn as sns
import matplotlib.pyplot as plt

sns.set()

In [2]:
TOTAL_WHITE_POPULATION = 236.5e6
TOTAL_BLACK_POPULATION = 41.99E6
TOTAL_ASIAN_POPULATION = 18.64E6
TOTAL_AMERICAN_INDIAN_POPULATION = 2.708E6

In [3]:
df = pd.read_csv('./releasing_df.csv')

In [4]:
df.groupby('race').count()

,Unnamed: 0,actRelDate,age,faclCode,faclName,faclType,inmateNum,nameFirst,nameLast,nameMiddle,...,releaseCode,sex,inmateId,lat,lng,address,state,orientation_y,orientation_x,daysUntilRelease
race,,,,,,,,,,,,,,,,,,,,,
American Indian,618,0,618,514,618,514,618,618,618,424,...,0,618,618,566,566,566,566,618,618,618
Asian,223,0,223,207,223,207,223,223,223,110,...,0,223,223,215,215,215,215,223,223,223
Black,6012,0,6012,5404,6012,5404,6012,6012,6012,3087,...,0,6012,6012,5708,5708,5708,5708,6012,6012,6012
White,13577,0,13577,11639,13577,11639,13577,13577,13577,6861,...,0,13577,13577,12608,12608,12608,12608,13577,13577,13577

In [33]:
race_df = pd.DataFrame(
    [
        {
            'race': 'American Indian',
            'population': TOTAL_AMERICAN_INDIAN_POPULATION
        }, {
            'race': 'Asian',
            'population': TOTAL_ASIAN_POPULATION
        }, {
            'race': 'Black',
            'population': TOTAL_BLACK_POPULATION
        }, {
            'race': 'White',
            'population': TOTAL_WHITE_POPULATION
        }
    ]
)

In [40]:
rdf = rdf.merge(race_df, left_on='race', right_on='race')

In [50]:
rdf.set_index('race')

,Unnamed: 0,actRelDate,age,faclCode,faclName,faclType,inmateNum,nameFirst,nameLast,nameMiddle,...,inmateId,lat,lng,address,state,orientation_y,orientation_x,daysUntilRelease,population,capita
race,,,,,,,,,,,,,,,,,,,,,
American Indian,618,0,618,514,618,514,618,618,618,424,...,618,566,566,566,566,618,618,618,2708000.0,0.000228
Asian,223,0,223,207,223,207,223,223,223,110,...,223,215,215,215,215,223,223,223,18640000.0,0.000012
Black,6012,0,6012,5404,6012,5404,6012,6012,6012,3087,...,6012,5708,5708,5708,5708,6012,6012,6012,41990000.0,0.000143
White,13577,0,13577,11639,13577,11639,13577,13577,13577,6861,...,13577,12608,12608,12608,12608,13577,13577,13577,236500000.0,0.000057

In [53]:
rdf['capita'] = rdf['inmateId'] / rdf['population']

In [56]:
rdf[['race', 'capita']]

              race    capita
0  American Indian  0.000228
1            Asian  0.000012
2            Black  0.000143
3            White  0.000057